<h1> Welcome To GamesCheat!</h1>

<h2> Please Fill Out The Game Title And Console</h2>

Name:<br>
<input type="text" name="title"><br>

Console:<br>
<input type="text" name="console"><br>

<input type="submit" value="Create a cheat!"
